html, body {
	margin: 0px;
  font-family: monospace;
}

:root {
  --editor-width: 50%;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  position: relative;
} 

.toolbar {
  flex: none;
  width: 100%;
  background: #232326;
  display: flex;
}

.menu-item {
  padding: 8px 5px;
  margin: 2px;
  border-radius: 5px;
  color: white;
  font-size: 1.2rem;
}

.menu-item:hover {
  cursor: pointer;
  background: #414141;
}

.menu-separator {
  color: white;
  display: flex;
  align-items: center;
  padding-right: 15px;
  padding-left: 15px;
  cursor: default;
}


.bottom {
  width: 100%;
  flex: 1;
  display: flex;
  background: orange;
  position: relative;
  overflow: hidden;
}

.left-side {
  background: green;
  width: var(--editor-width);
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.editor-container {
  background: whitesmoke;
  width: 100%;
  flex: 1;
  overflow: auto;
}


.log {
  background: purple;
  height: 50px;
  flex: none;
}

.right-side {
  display: flex;
  flex-direction: column;
  background: coral;
  width: calc(100% - var(--editor-width));
}

svg {
  background: antiquewhite;
  width: 100%;
  height: 100%;
}

.drop-modal {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: lightblue;
  opacity: .2;
  border: 5px dashed black;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.overlay {
  position: absolute;

  left: 50%;
  transform: translate(-50%, -50%);

/*  width: 100%;*/
  top: 50%;
  opacity: .3;
/*  transform: translate(0, -50%);*/
  border: 1px solid grey;
  pointer-events: none;
}

.log-output {
  padding-top: 10px;
  width: 100%;
  flex: 1;
  background: #e4e4e4;
  overflow: scroll;
}

.repl {
  width: 100%;
  height: 100px;
  background: #c5c2c2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid black;
}

.repl-input {
  width: 90%;
  height: 35px;
  padding: 10px;
  box-sizing: border-box;
}

.separator {
  position: absolute;
  height: 100%;
  background: black;
  width: 5px;
  left: var(--editor-width);
  transform: translate(-50%, 0);
}

.separator:hover {
  background: grey;
  cursor: col-resize;
  width: 10px;
}

.repl-log {
  padding: 0px 10px;
  margin: 3px;
}




